# Q-1

In [30]:
#install the selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\abhishek\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhishek\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhishek\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhishek\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\abhishek\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhishek\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\abhishek\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhishek\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhishek\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhishek\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\Abhishek\Downloads\chromedriver_win64.zip\chromedriver.exe")

In [3]:
#opening the naukri.com on automated chrome browser
driver.get("https://www.naukri.com/")

In [34]:
#enterning designation and location  as required  in the question.
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [35]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Banglore")

In [36]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [37]:
#scrapping the following details,making a list of indivisual
job_title=[]
job_location=[]
company_name=[]
expirience_required=[]

In [38]:
#scrapping the data for the job title
title_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [39]:
#scrapping the data for the job location
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for j in location_tags[0:10]:
    job_location.append(j.text)
    job_location

In [40]:
#scrapping for the company name
comapny_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for k in comapny_tags[0:10]:
    company_name.append(k.text)
    company_name

In [41]:
#scrapping the exprience required
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for l in exp_tags[0:10]:
    expirience_required.append(l.text)
    expirience_required

In [42]:
#finding the length of the above scrapping datas
print(len(job_title),len(job_location),len(company_name),len(expirience_required))

10 10 10 10

In [43]:
#making the Dataframe 
df=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"company Name":company_name,"Expirience required":expirience_required})
df

,Job Title,Job Location,company Name,Expirience required
0,Zen Data Shastra Llp,Hybrid - Bangalore/Bengaluru(Whitefield),Zen Data Shastra Llp,2-6 Yrs
1,Zscaler Softech,Bangalore/Bengaluru,Zscaler Softech,5-10 Yrs
2,Zscaler Softech,Bangalore/Bengaluru,Zscaler Softech,5-10 Yrs
3,Skillety,Bangalore/Bengaluru,Skillety,3-5 Yrs
4,Axtria,"Noida, Pune, Gurgaon/Gurugram, Bangalore",Axtria,7-12 Yrs
5,Jio,Bangalore/Bengaluru,Jio,8-10 Yrs
6,Inspira Enterprise India,Bangalore/Bengaluru,Inspira Enterprise India,3-4 Yrs
7,Wells Fargo,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Wells Fargo,5-10 Yrs
8,Dover,Hybrid - Bangalore/Bengaluru,Dover,3-5 Yrs
9,Shell Pvt Ltd,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs

# End of Assignment 1

# Q-2

In [9]:
driver=webdriver.Chrome(r"C:\Users\Abhishek\Downloads\chromedriver_win64.zip\chromedriver.exe")

In [10]:
#opening the naukri.com on automated chrome browser
driver.get("https://www.naukri.com/")

In [11]:
#enterning designation and location  as required  in the question.
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("banglore")

In [13]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [14]:
#scrapping the following details,making a list of indivisual
job_title=[]
job_location=[]
company_name=[]

In [15]:
#scrapping the data for company name
title_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in title_tags[0:10]:
    company_name.append(i.text)
company_name

['Birlasoft',
 'Accenture',
 'Optum',
 'Optum',
 'Optum',
 'Mindtree',
 'Baker Hughes',
 'Walmart',
 'Infosys',
 'PPD']

In [16]:
#scrapping the data for different locations
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for m in location_tags[0:10]:
    job_location.append(m.text)
job_location

['Hybrid - Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR']

In [17]:
#scrapping the job title
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for g in title_tags[0:10]:
    job_title.append(g.text)
job_title

['Data Scientist',
 'Analystics & Modeling Specialist',
 'Senior Principal Data Scientist',
 'Principal Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'DATA SCIENTIST III',
 'Data Scientist',
 'Opportunity For BioStatistician - II/Sr/Principal - Homebased/Blg/Mum/']

In [18]:
#finding the length of the datas
print(len(job_title),len(company_name),len(job_location))

10 10 10

In [19]:
#making the dataframe 
df=pd.DataFrame({"Job title":job_title,'location':job_location,'company name':company_name})
df

,Job title,location,company name
0,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Senior Principal Data Scientist,Bangalore/Bengaluru,Optum
3,Principal Data Scientist,Bangalore/Bengaluru,Optum
4,Senior Data Scientist,Bangalore/Bengaluru,Optum
5,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree
6,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
7,DATA SCIENTIST III,Bangalore/Bengaluru,Walmart
8,Data Scientist,Bangalore/Bengaluru,Infosys
9,Opportunity For BioStatistician - II/Sr/Princi...,"Mumbai, Hyderabad/Secunderabad, Pune, Ahmedaba...",PPD

# Q-3

In [29]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

In [30]:
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

In [33]:
# entering “Data Scientist” in “Skill,Designations,Companies” field

search_field_designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")   #job  search bar
search_field_designation.send_keys("Data Scientist")

In [36]:
# clicking the search button
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search_button.click()

In [37]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [41]:
time.sleep(3)
#finding the delhi/ncr check box
loc=driver.find_element(By.XPATH,"//i[@class='fleft naukicon naukicon-checkbox']")
loc.click()

In [45]:
time.sleep(2)
# finding the salary check box
slry_box = driver.find_element(By.XPATH,"//i[@class='fleft naukicon naukicon-checkbox']")
slry_box.click()

In [46]:
time.sleep(3)
#scraping the job-titles
titles=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

In [47]:
time.sleep(3)
#scraping the job-location
locations=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)

In [48]:
time.sleep(3)
#scraping the company_name 
companies=driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

In [49]:
time.sleep(3)
#scraping the experience_required 
experience=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
            
time.sleep(3)            
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"experience_required":experience_required[0:10],"company_name":company_name[0:10],
                 "job_location":job_location[0:10]})
df

,job_title,experience_required,company_name,job_location
0,Senior AR Caller,1-5 Yrs,Synergy Medsol,"Gandhinagar, Ahmedabad(Anand Nagar +2)"
1,Purchase Engineer,3-7 Yrs,(3 Reviews),Ahmedabad(Hathijan +49)
2,IT Fresher,0-0 Yrs,Rameshwar Infra Creation Llp,Ahmedabad(Navrangpura)
3,Back Office Executive - Ahmedabad,0-1 Yrs,Softs Solution Service,Ahmedabad(Vijay Char Rasta)
4,Backend Developer,1-4 Yrs,Zealmax Innovations,Ahmedabad(Nehru Nagar)
5,Social Media Executive (Female),1-3 Yrs,(13 Reviews),Ahmedabad(Adinath Nagar +38)
6,Qliksense Developer,3-5 Yrs,Zuru Tech India,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune..."
7,Wordpress Developer,3-7 Yrs,(12 Reviews),Ahmedabad(Sola)
8,HR Executive -Ahmedabad,1-4 Yrs,Boss Hydraulics,Ahmedabad(Navrangpura)
9,Java Developer,3-8 Yrs,(2 Reviews),"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."

# Q-4

In [10]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#locating the search bar
search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
search_bar.send_keys('sunglasses')

time.sleep(2)
#locating the button and clicking it to search for sunglasses
button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
#scrapping all product Url
product_url = []
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    url=driver.find_elements(By.XPATH,"//a[@class='_2UzuFa']")
    for i in url:
        product_url.append(i.get_attribute('href'))
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))     #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        

# scraping discount from each product url
for product in product_url:
    driver.get(product)
    try:
        disc=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[3]/div[1]/div/div[3]/span")# scraping the discount from the absolute xpath
        discount.append(disc.text)
    except NoSuchElementException:
        discount.append("No Discount")  
#creating a dataframe
df=pd.DataFrame({'Brand':brand,
                'Description':description,
                'Price':price,
                'Discount':discount})
#printing dataframe
df

,Brand,Description,Price,Discount
0,PC STAR,"Riding Glasses, UV Protection Retro Square Sun...",₹393,No Discount
1,RESIST EYEWEAR,"Polarized, Riding Glasses, UV Protection Wayfa...","₹1,399",No Discount
2,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,No Discount
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,No Discount
4,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹129,No Discount
...,...,...,...,...
115,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,No Discount
116,Fair-x,UV Protection Aviator Sunglasses (58),₹207,No Discount
117,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,No Discount
118,IDEE,UV Protection Aviator Sunglasses (58),"₹1,199",No Discount
119,Elligator,UV Protection Round Sunglasses (53),₹199,No Discount

# Q-5

In [15]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
96,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
97,5,Perfect product!,Worth the money’ starting first from its perfo...
98,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...
99,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."

# Q-6

In [3]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#close log_in window
log_in_pop_up = driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()

time.sleep(2)
#locating the search bar
search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

time.sleep(2)
#locating the button and clicking it to search for sneakers
button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)        
# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements(By.XPATH,"//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements(By.XPATH,'//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100]})
#printing dataframe
df

             Brand                                        Description Price
0         RapidBox                          Sneakers For Men  (White)  ₹599
1           BRUTON  2 Combo Sneaker Shoes Sneakers For Men  (Grey,...  ₹599
2           Shozie  2 Combo Sneaker Shoes Sneakers For Men  (Grey,...  ₹295
3           Labbin  Modern Trendy Sneakers Shoes Sneakers For Men ...  ₹399
4             aadi  Lightweight Pack Of 1 Trendy Sneakers Sneakers...  ₹359
..             ...                                                ...   ...
95          Labbin  Canvas Casual Partywear Outdoor Shoes For Boys...  ₹399
96  Mast & Harbour                           Sneakers For Men  (Grey)  ₹824
97  Cipramo Sports  Canvas Casual Sneakers For Walking,Running,Gym...  ₹835
98        Roadster  2 Combo Sneaker Shoes Sneakers For Men  (Black...  ₹891
99        Red Rose  Modern Trendy Sneakers Shoes Sneakers For Men ...  ₹474

[100 rows x 3 columns]

# Q-7

In [12]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.amazon.in/"
driver.get(url)


#creating the empty list
Title=[]
Ratings=[]
price=[]

time.sleep(2)
#locating the search bar
search_bar = driver.find_element(By.ID,"twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element(By.XPATH,'//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()    

time.sleep(2)
#locating the core i7 filter
filter_button=driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
        
#Scrapping Titles
titles=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price
prices=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings
urls=driver.find_elements(By.XPATH,"//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element(By.XPATH,"//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe
df=pd.DataFrame(index = list(range(0,10)))
df["title"]=pd.Series(Title)
df["Price"]=pd.Series(price)
df["Ratings"]=pd.Series(Ratings)
#printing dataframe
df

                                               title     Price  Ratings
0  Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...    99,990      NaN
1  AGB Octev GA-9009 15.6"Laptop (Intel Core i7-1...    75,000      NaN
2  HP Victus Gaming Latest 12th Gen Intel Core i7...    81,990      NaN
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    82,150      NaN
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    82,990      NaN
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    94,630      NaN
6  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  1,49,900      NaN
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    88,141      NaN
8  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....    91,490      NaN
9  Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...  1,04,990      NaN

# Q-8

In [32]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "http://www.azquotes.com/"
driver.get(url)


#creating the empty list
Quotes=[]
Author=[]
Type_of_quote=[]
time.sleep(2)

In [33]:
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")

search_button.click()

In [39]:
#scrapping the data for the top quotes
start=0
end=10
for page in range(start,end)[:1000]:
    quotes=driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in quotes:
        Quotes.append(i.text) 
    next_button=driver.find_elements(By.XPATH,"//li[@class='next']")

In [40]:
  
#scrapping the data for the type of the quotes
start=0
end=10
for page in range(start,end)[:1000]:
    types_of_quotes=driver.find_elements(By.XPATH,"//div[@class='tags']")
    for l in types_of_quotes:
        Type_of_quote.append(l.text)
    next_button=driver.find_elements(By.XPATH,"//li[@class='next']")

In [41]:

#scrapping the data for the author
start=0
end=10
for page in range(start,end)[:1000]:
    author=driver.find_elements(By.XPATH,"//div[@class='author']")
    for j in author:
        Author.append(j.text)
    next_button=driver.find_elements(By.XPATH,"//li[@class='next']")

In [42]:
#finding the length of the data
print(len(Quotes),len(Author),len(Type_of_quote))

2000 2000 2000

In [46]:
#making the dataframe
df=pd.DataFrame(index=list(range(0,1000)))
df["Author"]=pd.Series(Author)
df["Type_of_quote"]=pd.Series(Type_of_quote)
df["Quotes"]=pd.Series(Quotes)
df

,Author,Type_of_quote,Quotes
0,Michael Porter,"Essence, Deep Thought, Transcendentalism",The essence of strategy is choosing what not t...
1,Golda Meir,"Inspiration, Past, Trying",One cannot and must not try to erase the past ...
2,Theodore Roosevelt,"Country, Peace, War",Patriotism means to stand by the country. It d...
3,Nelson Mandela,"Inspirational, Motivational, Death",Death is something inevitable. When a man has ...
4,Erma Bombeck,"4th Of July, Food, Patriotic",You have to love a nation that celebrates its ...
...,...,...,...
995,Hunter S. Thompson,"Music, Sports, Hunting","When the going gets weird, the weird turn pro."
996,Corrie Ten Boom,"Trust, Encouraging, Uplifting",When a train goes through a tunnel and it gets...
997,Dalai Lama,"Inspirational, Funny, Change",If you think you are too small to make a diffe...
998,Mother Teresa,"Success, God, Mother","God doesn't require us to succeed, he only req..."
999,Norman Vincent Peale,"Inspirational, Motivational, Change",Change your thoughts and you change your world.

# Q-9

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
url="http://www.jagranjosh.com/"
driver.get(url)

In [3]:
#click for the GK option
GK=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
GK.click()

In [4]:
#find the prime minister list and click the button
Prime_minister=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
Prime_minister.click()

In [5]:
#scrapping the Name of all respected Prime minister
Name=[]
name=driver.find_elements(By.XPATH,"//*[@id='itemdiv']/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong")
for i in name[:50]:
    Name.append(i.text)
Name

['Jawahar Lal Nehru']

# Q-10

In [14]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.motor1.com/"
driver.get(url)
time.sleep(5)

In [15]:
Feature_bar=driver.find_element(By.XPATH,"//li[@class='grand left top mobile dropdown']")
Feature_bar.click()
time.sleep(4)

In [16]:
expensive_car=driver.find_element(By.XPATH,"/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a")
expensive_car.click()

In [17]:
car_name=[]
page=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in page[:50]:
    car_name.append(i.text)
car_name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [18]:
#Scrapping the price data
price=[]
page=driver.find_elements(By.XPATH,"//*[@id='article_box']/div[1]/div[2]/div[1]/p[22]/strong")
for j in page[:50]:
    price.append(j.text)
price

['Price: $1.7 Million']

In [32]:
#scrapping the discription for the page
disc=[]
page=driver.find_elements(By.XPATH,"//[@id='article_box']/div[1]/div[2]/div[1]/p[5]")
for k in page:
    disc.append(k.text)
disc

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //[@id='article_box']/div[1]/div[2]/div[1]/p[5] because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//[@id='article_box']/div[1]/div[2]/div[1]/p[5]' is not a valid XPath expression.
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x0097F243]
	(No symbol) [0x00907FD1]
	(No symbol) [0x007FD04D]
	(No symbol) [0x007FFD34]
	(No symbol) [0x007FFBE5]
	(No symbol) [0x007FFE80]
	(No symbol) [0x0082BD55]
	(No symbol) [0x0082C22B]
	(No symbol) [0x0085E64C]
	(No symbol) [0x008485D4]
	(No symbol) [0x0085C9EB]
	(No symbol) [0x00848386]
	(No symbol) [0x0082163C]
	(No symbol) [0x0082269D]
	GetHandleVerifier [0x00C19A22+2655074]
	GetHandleVerifier [0x00C0CA24+2601828]
	GetHandleVerifier [0x00A28C0A+619850]
	GetHandleVerifier [0x00A27830+614768]
	(No symbol) [0x009105FC]
	(No symbol) [0x00915968]
	(No symbol) [0x00915A55]
	(No symbol) [0x0092051B]
	BaseThreadInitThunk [0x75FE6939+25]
	RtlGetFullPathName_UEx [0x77CD8FD2+1218]
	RtlGetFullPathName_UEx [0x77CD8F9D+1165]

In [ ]:
#creating the Dataframe
df=pd.DataFrame({"Car Name":car_name,"Price":price,"Discription":disc})
df

# TOTAL SOLVED QUESTIONS=8
HAVING PROBLEM=2 QUESTIONS(Q-9,Q-10)